<div class="container">

  <div class="d-flex flex-row-reverse mt-5">
    <a class="btn btn-success btn-lg  "routerLink="create">Create</a>
  </div>

  <ngx-datatable
    class="bootstrap"
    [rows]="rows"
    [loadingIndicator]="loadingIndicator"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="40"
    [summaryRow]="true"
    [summaryPosition]="'bottom'"
    [footerHeight]="40"
    [limit]="10"
    rowHeight="auto"
    [reorderable]="reorderable"
  >
  </ngx-datatable>
</div>
