<div class="container-fluid">
<!-- {{this.productForm.value | json}} -->
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="row d-flex justify-content-start">
      <div class="col-9">
        <div class="d-flex mt-5">
          <div class="card" style="width: 100%">
            <div class="card-body">
              <div class="row">


                <div class="col-6 mt-3">

                  <mat-form-field class="example-full-width">
                     <input matInput placeholder="Invoice Number" formControlName="InvoiceNumber" id="InvoiceNumber" >
                  </mat-form-field>



                  <!-- {{ incoive.?errors | json}} -->
                  <div class="text-danger" *ngIf="
                      InvoiceNumber?.errors! &&
                      InvoiceNumber?.touched &&
                      InvoiceNumber?.dirty
                    ">
                    <div *ngIf="(InvoiceNumber?.errors)!['required']">
                      Invoice Number is required
                    </div>
                    <div *ngIf="InvoiceNumber!; errors" style="margin-bottom: -24px">
                      <div *ngIf="(InvoiceNumber?.errors)!['productExits']">
                        Invoice Number is already in database
                      </div>
                    </div>
                  </div>

                  <!-- {{InvoiceNumber?.errors | json}} -->


                </div>
                <div class="col-6 mt-3">


                  <mat-form-field appearance="fill"  class="example-full-width">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="Date"  id="Date" >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>


                <div class="col-6 mt-3">

                  <!--Using ng-option and for loop-->
                  <ng-select
                      id="Customer"
                  placeholder ="Choose Customer"
                  [items]="customerlist"
                   bindLabel="name"
                    formControlName="CustomerName"
                     bindValue="id"
                    [(ngModel)]="selectedCustomer">
                  </ng-select>

                  <!--Using items input-->






                </div>
                <div class="col-6 mt-3">
                  <ng-select
                  id="Employee"
                placeholder ="Choose Employe"
                [items]="employelist"
                 bindLabel="name"
                  formControlName="EmployeeName"
                   bindValue="id"
                  [(ngModel)]="selectedEmployee">
                </ng-select>

                </div>
              </div>
            </div>

            <div class="d-flex flex-row-reverse m-3">
              <button mat-raised-button color="primary" data-cy="button" (click)="addProduct()" type="button">
                Add Product
              </button>
            </div>
            <table class="ms-2" formArrayName="Products">
              <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
              <tr *ngFor="let product of products.controls; let i = index" [formGroupName]="i">
                <td>

                  <select id="products" (change)="onPriceChange($event, product)" class="form-select"
                    aria-label="Default select example" formControlName="ProductName">
                    <option value="" selected disabled>Choose Product</option>
                    <option *ngFor="let item of productList" [value]="item.Id">
                      {{ item!.Name }}
                    </option>
                  </select>
                </td>
                <td>
                  <input #price type="number" placeholder="Price" formControlName="Price" class="form-control" />
                </td>

                <td>
                  <input #quantity type="number" placeholder="Quantity" formControlName="Quantity"
                    class="form-control" />
                </td>

                <td>
                  <input #total type="text" placeholder="Total"
                    [value]="getRowTotal(product, price.value, quantity.value)" formControlName="Total"
                    class="form-control" />
                </td>
                <td>
                  <label for=""> </label>
                  <button (click)="removeProduct(i)"    mat-raised-button color="warn" class="btn btn-danger">
                    Remove
                  </button>
                </td>
              </tr>
            </table>
            <br />
          
            <mat-form-field appearance="fill" class="m-2">
              <mat-label>Additional Notes</mat-label>
              <textarea matInput cols="122" rows="3"></textarea>
            </mat-form-field>

          </div>
        </div>
      </div>







        <div class="col-3 mt-5">
          <div class="card">
            <div class="card-body">
              <button type="submit" mat-raised-button  class="btn btn-success" style="width: 100%" [disabled]="!productForm.valid">
                Save
              </button>
              <button type="button"   mat-raised-button color="accent" class=" mt-2" (click)="openPdf()" [disabled]="!productForm.valid"
                style="width: 100%">
                Open
              </button>
              <button type="button" mat-raised-button color="primary"   class=" mt-2" (click)="printPdf()" style="width: 100%"
                [disabled]="!productForm.valid">
                Print
              </button>
            </div>

          </div>
        </div>


      <!-- </form> -->
    </div>

<!-- <form [formGroup]="imageForm" (ngSubmit)="onSubmit2()">
  <input formControlName="myName">
    <button>Generate</button>
</form>


<img src="{{imageSrc}}">

   -->
